<h1>Etude TinyMCE</h1>
<div>État de connexion: {{ connected ? "En ligne" : "Hors-ligne" }}</div>
<button (click)="resetDB()">Réinitialiser la base de donnée</button>
<div>
  <span>Rechercher: </span>
  <input type="text" (change)="performSearch()" />
  <div class="search-results">
    <ul>
      <li *ngFor="let searchResult of searchResults">
        {{ searchResult.title }}
      </li>
    </ul>
  </div>
</div>
<div class="outer-container">
<editor [init]="tinymceOptions"></editor>
<div class="tabbed-reader">
  <nav>
    <ul>
      <li *ngFor="let openTab of tabService.openTabs; let index = index" (click)="focusTab(index)">
        <a href="#">{{ openTab.title }}</a>
      </li>
    </ul>
  </nav>
<div id="container"></div>
</div>
</div>
